*

!EsBimCore
!EsBimCore/Devices
!EsBimCore/JsonView
!EsGateToHard
!EsSystem
!EsSystem/utils/config
!EsSystem/utils/tools
!EsModelOfMoving

!LICENSE
!CMakeLists.txt
!doxygen.conf
!*.cpp
!*.hpp
!*.c
!*.h

!.gitignore
